$red: #A4243B;
$semi-red: #D65A70;
$light-red: #FF9EB0;
$orange: #FF7700;
$semi-orange: #FF9233;
$light-orange:#FFAD66;
$navy: #12263A;
$semi-navy: #38536E;
$light-navy: #7289A1;
$black: #1D1D1D;
$semi-black: #333333;
$light-black: #4D4D4D;
$gray: #D9D9D9;
$semi-gray: #E6E6E6;
$light-gray: #F2F2F2;
$bg-white: #FAFAFA;
$bg-white-darker: #F5F9FF;