@use './colors' as *;
@use './components' as *;
@use './fonts' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat';
	background-color: $bg-white;
	font-size: 16px;
	color: $black;
}

.wrapper {
	margin: 0 auto;
	max-width: 1360px;
	width: 100%;
}

.nav {
	&__info-bar {
		background-color: $light-gray;
	}

	&__info-bar-container {
		background-color: $bg-white-darker;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-size: 13px;
		height: 30px;
		background-color: $light-gray;
	}

	&__paragraph-tel-bold {
		font-family: 'Montserrat-Bold';
		margin-left: 2px;
		color: $navy;
		font-size: 13px;
	}

	&__paragraph-info {
		padding-right: 15px;
	}

	&__vertical-bar {
		margin-left: 30px;
		width: 1px;
		height: 12px;
		background-color: $light-black;
	}

	&__info-menu {
		margin-left: 30px;
		font-size: 13px;
	}

	&__info-menu-items {
		display: inline-block;
		margin: 0 5px;
		text-decoration: none;
		color: $black;
		padding: 2px 5px;
	}

	&__nav {
		height: 90px;
		background-color: $bg-white;
	}

	&__nav-container {
		display: flex;
		flex-direction: row;
	}

	&__logo-text{
		width: 240px;
		height: 90px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 35px;
		color: $navy;
		font-family: 'Montserrat-Bold';
	}

	&__dropdown-courses {
		width: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__dropdown-courses-text {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	&__dropdown-courses-arrow-icon {
		margin-left: 20px;
	}

	&__vertical-bar-menu {
		width: 1px;
		height: 90px;
		background-color: $gray;
	}


	&__menu-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 780px;
		margin-left: 40px;
	}

	&__ul-list-menu-items {
		display: inline-block;
		margin: 2px 10px;
	}
}

.head {
	&__container{
		height: 400px;
		background-color: $gray;
	}
}

@import './small';
@import './medium';
@import './large';
